@{
    ViewBag.Title = "Home Page";
}

    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 450px;
             width: 800px;
         }

    </style>
    <br/>
    <div class="row">
        <div id="map"></div>
        <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 43.041069, lng: -87.909416},
          zoom: 12
        });
      }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoAvbF99XKDaWLeLLhNIqfoDJSylLDu_U&callback=initMap"
                async defer></script>
    </div>